.guide .box .item.tabs_1 .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30affa9052f.png);
}

.guide .box .item.tabs_1:hover .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30b0033df2c.png);
}

.guide .box .item.tabs_2 .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30afd1d2881.png);
}

.guide .box .item.tabs_2:hover .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30afdf3890e.png);
}

.guide .box .item.tabs_3 .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30af9bbc902.png);
}

.guide .box .item.tabs_3:hover .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30afa514c66.png);
}

.guide .box .item.tabs_4 .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30af6230ec5.png);
}

.guide .box .item.tabs_4:hover .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30af713e084.png);
}

.guide .box .item.tabs_5 .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30af14b2f8b.png);
}

.guide .box .item.tabs_5:hover .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30af20b9a80.png);
}

.guide .box .item.tabs_6 .img {
  background-image: url(/Uploads/Picture/2017/12/15/s5a338874ee147.png);
}

.guide .box .item.tabs_6:hover .img {
  background-image: url(/Uploads/Picture/2017/12/13/s5a30aee925c74.png);
}
